<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-container__logo">
            <img src="" alt="image">
            <span>Store Name</span>
        </div>
        {% block navbarMenu %}{% endblock %}
    </div>
</div>
