<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-container__logo">
            <img class="rounded"
                 src="/images/{{ app_options.appLogo }}"/>
            <span>{{ app_options.appName }}</span>
        </div>
        {% block navbarMenu %}{% endblock %}
    </div>
    {% include 'common/flashMessages/_flashMessages.html.twig' %}
</div>
