<div class="nav-bar bg-white dark:bg-gray-900 h-16 flex flex-col justify-around">
    <div class="container mx-auto flex flex-row justify-between">
        <div class="flex flex-row">
            <img src="" alt="image">
            <span>Store Name</span>
        </div>
        <div class="flex flex-row">
            <div>
                <input class="border rounded" placeholder="Search a product...">
                <button class="">Search</button>
            </div>
            {% if app.user %}
                <div>
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% else %}
                <div>
                    <span class="nav-bar__login relative group">
                        Login
                        {{ include('partials/_loginDropdown.html.twig') }}
                    </span>
                    /
                    <a href="{{ path('app_register') }}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
