<div class="bg-white dark:bg-gray-900 h-16 flex flex-col justify-around">
    <div class="container mx-auto flex flex-row justify-between">
        <div class="flex flex-row">
            <img src="" alt="image">
            <span>Store Name</span>
        </div>
        <div class="flex flex-row">
            <div>
                <input class="border rounded" placeholder="Search a product...">
                <button class="">Search</button>
            </div>
            <div>
                <a href="#">Login</a>
                /
                <a href="#">Register</a>
            </div>
        </div>
    </div>
</div>
