<ul class="flex flex-row">
    <li class="m-1">
        <a href="{{ path('admin_article_list') }}">Articles</a>
    </li>
    <li class="m-1">
        <a href="">Users</a>
    </li>
    <li class="m-1">
        <a>Orders</a>
    </li>
    <li class="m-1">
        <a href="{{ path('app_logout') }}">Logout</a>
    </li>
    <li id="dark-mode" class="icon sun-icon cursor-pointer">
    </li>
</ul>
