<div class="card">
    <div class="card__header">
        {% block card_header %}
        {% endblock %}
    </div>
    <div class="card__body">
        {% block card_body %}
        {% endblock %}
    </div>
</div>
