<div class="login-popover">
    <form action="{{ path('app_login') }}" method="post">
        <h2 class="">Please sign in</h2>
        <input type="email" placeholder="e-mail" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <input type="password" placeholder="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="flex flex-row justify-center my-2">
            <button class="button button-accent" type="submit">
                Sign in
            </button>
        </div>
    </form>
</div>
