<ul class="navbar__menu">
    {% if app.user %}
        <li>
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>
    {% else %}
        <li>
            <span class="nav-bar__login relative group">
                Login
                {{ include('partials/_loginDropdown.html.twig') }}
            </span>
        </li>
        <li>
            <a href="{{ path('app_register') }}">Register</a>
        </li>
    {% endif %}
    <li id="dark-mode" class="icon sun-icon cursor-pointer">
    </li>
</ul>
