.navbar {
    @apply
    relative
    bg-primary-light
    dark:bg-primary-dark
    text-ctext-dark
    dark:text-ctext-light
    h-16
    flex
    flex-col
    justify-around
    ;

    &-container {
        @apply
        container
        mx-auto
        flex
        flex-row
        justify-between
        ;

        &__logo {
            @apply
            flex
            flex-row
            ;
        }

        .navbar__menu {
            @apply
            flex
            flex-row
            ;

            & > li {
                @apply
                relative
                m-1
                ;

                &:hover .navbar__dropdown {
                    @apply
                    block
                    ;
                }
            }

            .navbar__dropdown {
                @apply
                absolute
                top-full
                left-1/2
                -translate-x-1/2
                hidden
                rounded
                bg-secondary-light
                dark:bg-secondary-dark
                shadow-md
                ;

                & > li {
                    @apply
                    px-2
                    py-1
                    text-nowrap
                    ;
                }

                & > li:not(:first-child) {
                    @apply
                    border-t
                    border-primary-light
                    dark:border-primary-dark
                    ;
                }

                &:hover {
                    @apply
                    block
                    ;
                }
            }
        }
    }

    a:hover {
        @apply
        text-accent-light
        dark:text-accent-dark
        cursor-pointer
        ;
    }
}
