{% extends 'base.html.twig' %}

{% set isEmpty = articles|length < 1 %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">Articles</h1>
    <div class="bg-primary-light rounded px-2 py-1 mt-5 mb-2">
        {% include 'admin/article/partials/_articleFilter.html.twig' %}
    </div>
    <div class="fo-articles">
        {% for article in articles %}
            <div class="w-1/4">
                <div class="article-card">
                    <img src="images/{{ article.image }}">
                    <div class="article-card__content">
                        <a href="{{ path('article_details', { id: article.id } ) }}">{{ article.title }}</a>
                        <p>{{ article.priceInCents|price }}</p>
                    </div>
                    <div class="button button-accent px-2 py-1 text-center cursor-pointer">Add to Cart</div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not isEmpty %}
        {% include 'common/paginator/_paginator.html.twig' with {
            pager: pager,
            route: 'article_list'
        } %}
    {% endif %}
{% endblock %}
