{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="m-5 text-4xl text-center">{{ article.title }}</h1>
    <div class="fo-articles-details">
        <div class="fo-articles-details__content">
            <div class="left">
                <div>
                    <p>{{ article.description }}</p>
                    <p class="text-right mt-3">Price: {{ article.priceInCents|price }}</p>
                </div>
                <button class="button button-accent w-full">Add to Cart</button>
            </div>
            <img src="/images/{{ article.image }}" class="right">
        </div>
    </div>
{% endblock %}

