.icon {
    @apply
    h-6
    w-6
    self-center
    ;
}

.sun-icon {
    @apply
    bg-amber-400
    rounded-full
    ;

    background-image: url(lucide-static/icons/sun.svg);
}

.moon-icon {
    @apply
    bg-gray-500
    rounded-full
    ;

    background-image: url(lucide-static/icons/moon.svg);
}

.info-icon {
    background-image: url(lucide-static/icons/info.svg);
}

.edit-icon {
    background-image: url(lucide-static/icons/pencil.svg);
}

.trash-icon {
    background-image: url(lucide-static/icons/trash-2.svg);
}

.list-icon {
    background-image: url(lucide-static/icons/list.svg);
}

.plus-icon {
    background-image: url(lucide-static/icons/plus.svg);
}

.minus-icon {
    background-image: url(lucide-static/icons/minus.svg);
}
