@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(@fontsource/roboto) format('woff2');
    }
}

::selection {
    @apply
    bg-slate-300
    bg-opacity-40
    dark:bg-accent-dark
    text-ctext-light
    dark:text-ctext-dark
    ;
}

body {
    @apply
    bg-background-light
    dark:bg-background-dark
    text-ctext-light
    dark:text-ctext-dark
    font-Roboto
    ;
}

form {
    @apply
    w-full
    text-ctext-light
    dark:text-ctext-dark
    ;

    input {
        @apply
        text-ctext-light
        ;

        &:focus,
        &:focus-visible, {
            @apply
            border
            !border-accent-light
            dark:!border-accent-dark
            ;
        }

        &[type=checkbox] {
            @apply
            text-accent-light
            dark:text-accent-dark
            ;
        }
    }
}
