<div class="confirm-popup__template absolute hidden rounded bg-background-light dark:bg-background-dark z-50 top-full left-1/2 -translate-x-1/2 shadow-md">
    <div class="popup__body text-ctext-light dark:text-ctext-dark"></div>
    <div class="popup__actions flex flex-row px-2 py-1">
        <button class="popup-cancel button button-warning m-1">Cancel</button>
        <button class="popup-confirm button button-danger m-1">Confirm</button>
    </div>
</div>
