{# hidden to prepare initial state #}
<div class="confirm-popup__template hidden">
    <div class="popup__body"></div>
    <div class="popup__actions">
        <button class="popup-cancel button button-accent m-1">Cancel</button>
        <button class="popup-confirm button button-danger m-1">Confirm</button>
    </div>
</div>
