{# hidden to prepare initial state #}
<div class="input-popup__template hidden">
    <div class="popup__body">
        <div class="popup__message"></div>
        <form class="input-popup__form" action="#" method="get">
            <input class="input-popup__input" name="popupInput" type="text">
        </form>
    </div>
    <div class="popup__actions">
        <button class="popup-cancel button button-accent m-1">Cancel</button>
        <button class="popup-confirm button button-danger m-1">Confirm</button>
    </div>
</div>
