includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 5
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
    ignoreErrors:
            - '#Call to an undefined method Knp\\Component\\Pager\\Pagination\\PaginationInterface::getPageCount\(\).#'
            - '#Call to an undefined method Omnipay\\Common\\GatewayInterface::setClientId\(\).#'
            - '#Call to an undefined method Omnipay\\Common\\GatewayInterface::setSecret\(\).#'
            - '#Call to an undefined method Omnipay\\Common\\GatewayInterface::setTestMode\(\).#'
            - '#Call to an undefined method Omnipay\\Common\\Message\\ResponseInterface::getRedirectUrl\(\).#'
